@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100%;
    max-width: 100%;
    margin: 0;

}

header {
    padding: 15px;
    background-color: #F5ECD7;
}
img.img-logo{
    width: 58px;
    height: 60px;
}
/* Center the logo and form properly in the modal */

.modal-header{
    display: flex;
    justify-content: center;
}
img.logo-center{
    margin: 20px 0 80px 0;
    size: 30px;
}
.modal-dialog {
    max-width: 500px;
    margin: auto;
    border: none;
    padding: 20px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.logbox {
    margin-bottom: 20px;
    text-align: center;
}

.logo-center {
    max-width: 120px;
    height: auto;
}

.logform {
    width: 100%;
    display: block;
}
form{
    width: 100%;
}

.logform .mb-3 {
    margin-bottom: 15px;
    justify-content: space-around;
}

.input-group-text {
    background-color: #F5ECD7;
}

.btn-primary {
    background-color: #FF6366;
    border-color: #FF6366;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #DE283B;
    border-color: #DE283B;
}

.modal-footer {
    text-align: center;

    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, 
    rgba(0, 0, 0, 0.09) 0px 4px 2px, 
    rgba(0, 0, 0, 0.09) 0px 8px 4px, 
    rgba(0, 0, 0, 0.09) 0px 16px 8px, 
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* This is the "Don't have an account Part" */

.signbox{
    margin: 8px;
    padding: 5px;
    
    align-items: center;
}
label.label-dont{
    color: #757474;
    font-weight: 600;
}
label.label-continue{
    color: #757474;
    font-weight: 600;
}

input {
    border: 2px solid #FF6366;
    border-radius: 5px;
}

input:focus {
    border-color: #DE283B;
}

/* For the eye icon toggle */
#togglePassword {
    cursor: pointer;
}

#eyeIcon {
    color: #bbb;
}


.title-box{
    width: 400px;
    display: flex;
    align-items: center;
}

.logo-we {
    color: #FF6366;
    font-size: 50px;
    font-weight: bold;
    margin-left: 20px;
}
.logo-th{
    color: #DE283B;
    font-size: 50px;
    font-weight: bold;
}


nav.navbar.navbar-expand-lg{
    padding: 5px;
}

/* This navbar menu spaces: Home, Features, and Premium */
#navbarNav.collapse.navbar-collapse{
    display: block;
    justify-content: space-between;
    padding: 10px;
}


li.nav-item{
    margin-left: 20px;
}

a.nav-link{
    font-size: 22px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

/* Login Button */
.btn.btn.login{
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 600;
}
.btn.btn.login:hover{
    color: white;
    background-color: #DE283B;
}

/* Get Started */

a.btn-link{
    border: none;
    border-radius: 10px;
    font-size: 22px;
    text-decoration: none;
    color: white;
    background-color: #FF6366;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;

    width: auto;
    height: auto;
    padding: 10px 15px 10px 15px;
    text-align: center;
    transition: ease 0.5s;
}
a.btn-link:hover{
    color: white;
    transform: scale(0.9);
}
/* Get Started box in Main Content */
.start-box{
    max-width: 165px;
    width: auto;
    height: auto;
    

    top: 50%;
    left: 50%;
    transform: translate(14%, -250%);
}
/* Get Started in Main Content */
a.btn.link-two{
    border: none;
    border-radius: 10px;
    font-size: 22px;
    text-decoration: none;
    color: white;
    background-color: #FF6366;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;

    width: auto;
    height: auto;
    padding: 10px 15px 10px 15px;
    transition: ease 0.5s;
}
a.btn.link-two:hover{
    color: white;
    transform: scale(0.9);
}




/* Main Content */
.containerbox {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #F5ECD7;
    gap: 50px; /* If using flex layout, gap can help in spacing */
}

.des-box{
    width: 700px;
    height: 440px;
    margin: 50px;
}
.pic-box {
    width: 550px; 
    height: 470px; 
    margin: 50px; 
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, 
                rgba(0, 0, 0, 0.09) 0px 4px 2px, 
                rgba(0, 0, 0, 0.09) 0px 8px 4px, 
                rgba(0, 0, 0, 0.09) 0px 16px 8px, 
                rgba(0, 0, 0, 0.09) 0px 32px 16px; 
    overflow: hidden; /* Prevents overflow */
}

.pic-box img {
    width: 100%; /* Image takes up the full width */
    height: 100%; /* Image takes up the full height */
    object-fit: cover; /* Ensures the image covers the box without distortion */
}

.info{
    padding: 25px;
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-weight: bold;
}
.info-t-box{
    max-width: 225px;
    display: flex;

    /*  Dito kayo mag adjust sa baba sa WeThrive kasi nakahiwalay if ever mag bago sa resolution niyo  */
    top: 50%;
    left: 50%;
    transform: translate(63%, -130%);
}

.t-one {
    color: #FF6366;
    font-size: 50px;
    font-weight: bold;
}
.t-two{
    color: #DE283B;
    font-size: 50px;
    font-weight: bold;
}
.info-t{
    font-size: 30px;
    font-weight: bold;
    max-width: 360px;
    width: auto;
    height: auto;

    top: 50%;
    left: 50%;
    transform: translate(7%, -75%);
}



/* Custom Footer Styles */
footer {
    background-color: #222;
    color: white;
    padding: 40px;
}

footer .footer-section {
    margin-bottom: 30px;
}

footer .footer-section h5 {
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

footer .footer-links a {
    color: #bbb;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
}

footer .footer-links, label {
    color: #bbb;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
}

footer .footer-links a:hover {
    color: #fff;
}

footer .social-icons a {
    color: #bbb;
    margin-right: 10px;
    font-size: 20px;
}

footer .social-icons a:hover {
    color: #fff;
}

footer .copyright {
    text-align: center;
    font-size: 14px;
    color: #bbb;
    margin-top: 30px;
}


/* Scrollbar */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #404040;
    
}
::-webkit-scrollbar-thumb{
    background-color: #25B1BF;
    border-radius: 15px;
}

/* Media for Mobile Responsiveness */
@media (max-width: 770px) {
    /* Make the picture crop in half */
    img.img-logo{
        width: 50px;
        height: 50px;
    }
    ul.navbar-nav{
        display: flex;

        text-align: center;
        transition: ease-in 0.8s;
    }
    a.nav-link{
        margin-right: 20px;
    }

    ul.navbar-nav::after{
        transition: ease-out 0.8s;
    }
    #navbarNav.collapse.navbar-collapse{
        display: flex;
        flex-direction: column;
    }

    .pic-box {
        width: 100%;
        height: auto; 
        margin: 20px 0;
    }
    
    .pic-box, img{
        width: 100%; 
        height: 50%; 
        object-fit: cover; 
    }

    /* Main Content adjustments */
    .des-box {
        width: 90%; 
        font-size: 16px;
        margin: 10px; 
    }
    /* Button */
    .container-fluid, button.btn-login{
        justify-content: center;
    }
    /* We Thrive snake animation part */
    .info-t-box{
        margin: 20px;

        top: 50%;
        left: 50%;
        transform: translate(28%, -150%);
    }

    .t-one {
        font-size: 28px;
    }
    .t-two{
        font-size: 28px;
    }

    /* -------------------------------- */

    .info {
        font-size: 24px; 
    }

    .info-t {
        font-size: 20px; 
    }

    /* Modal adjustments */
    .modal-dialog {
        width: 90%; 
        margin: 0; 
        max-width: none; 
    }

    /* Navbar link adjustments */
    a.nav-link {
        font-size: 18px; 
    }

    .logform .mb-3 {
        justify-content: space-between; 
    }

    /* Login button adjustments */
    a.btn-link{
        width: 100%; 
        padding: 10px;
        font-size: 18px; 
    }
    a.btn.link-two {
        width: 100%; 
        font-size: 18px; 

        top: 50%;
        left: 50%;
        transform: translate(30%, 100%);
    }

    /* Footer adjustments */
    footer .footer-section h5 {
        font-size: 16px; 
    }

    footer .footer-links a {
        font-size: 14px; 
    }
}







